
.vs/BitHost/v15/.suo
.vs/BitHost/v15/Browse.VC.db
.vs/BitHost/v15/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/BitHost/v15/ipch/AutoPCH/30d20e6781c1cd7/HISTOGRAM.ipch
.vs/BitHost/v15/ipch/AutoPCH/844a8df305820343/VERSION_SET_TEST.ipch
.vs/BitHost/v15/ipch/AutoPCH/c34996efa1012916/MASTERNODEMAN.ipch
